.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}

.slidingtext {
  margin: auto;
  color: white;
  /* font: 700 normal 2.5em 'tahoma'; */
  text-shadow: 5px 2px #fa9999, 2px 4px #fa9999, 3px 5px #fa9999;
}